In [1]:
# syntax
# lambda arguments : expression

In [2]:
x = lambda a : a ** 2

In [3]:
x(3)

9

In [4]:
y = lambda b : b - 2

In [5]:
y(5)

3

## Lambda within filter()

In [6]:
# filter() : Used to filter the given iterables (list,set,etc) with the help of another function passed 
#            as an argument to test element to be true or flase.

In [7]:
my_list = [2,3,4,3,4,4,5,6,6]

In [10]:
new_list = list(filter(lambda a:a/3==2,my_list))

In [11]:
print(new_list)

[6, 6]

In [18]:
l2 = list(filter(lambda x:(x**2)%4==0,my_list))

In [19]:
l2

[2, 4, 4, 4, 6, 6]

# Lambda within Map()

In [20]:
# map() : Applies a given function to all the iterables and return a new list

In [21]:
L = [3,3,4,5,5,6,6,5,4,4]

In [22]:
new_L = list(map(lambda x:x**2,L))

In [23]:
new_L

[9, 9, 16, 25, 25, 36, 36, 25, 16, 16]

In [24]:
another_list = list(map(lambda y:y%3,new_L))

In [26]:
another_list

[0, 0, 1, 1, 1, 0, 0, 1, 1, 1]

# Lambda within reduce()

In [27]:
# reduce() : Applies some other function to a list of elements that 
#            are passed as a parameter to it and finally returns a 
#            singal value.

In [28]:
L

[3, 3, 4, 5, 5, 6, 6, 5, 4, 4]

In [34]:
from functools import reduce
new_list = reduce(lambda a,b:a+b,[2,3,4,4])

In [35]:
new_list

13

## Map(), reduce(), filter() functions

In [46]:
def new(a):
    return a*a
x = map(new,[1,2,3,4])
print(x)

<map object at 0x000001D95C03B748>

In [47]:
print(list(x))

[1, 4, 9, 16]

In [58]:
def new1(i):
    if i>=3:
        return i
j = filter(new1,[2,3,4,5,4,5,4,5])

In [59]:
print(j)

<filter object at 0x000001D95C312308>

In [60]:
print(list(j))

[3, 4, 5, 4, 5, 4, 5]

In [61]:
from functools import reduce

In [62]:
def new2(x,y):
    return x+y
s = reduce(new2,[2,3,4,5])

In [63]:
s

14

# That's how lambda, map(),filter() and reduce() work.