# 1. Numbers

In [1]:
x = 10

In [2]:
x

10

In [3]:
# We can check the type of the
# Variable using type() function
type(x)

int

In [4]:
y = -10

In [5]:
y

-10

In [6]:
type(y)

int

In [7]:
a = 19.45

In [8]:
type(a)

float

In [9]:
b = -3.453543534543345

In [10]:
type(b)

float

In [21]:
x = 4+6j # j is nothing but the iota term in a+bi complex number

In [22]:
type(x)

complex

In [23]:
y = 5-6j

In [24]:
type(y)

complex

In [25]:
z = 1j

In [26]:
type(z)

complex

In [28]:
num = 10 > 9

In [29]:
num

True

In [30]:
type(num)

bool

# 2. Strings

In [32]:
name = "Brijendra"

In [33]:
name

'Brijendra'

In [34]:
type(name)

str

In [35]:
len(name)

9

In [36]:
print(len(name))

9

In [38]:
name[3]

'j'

In [ ]:
name[3] = "k" # it will give error because we can't update the value of string

In [39]:
name[0:]

'Brijendra'

In [47]:
name[0:-1] # Brijendra
# here name[a:b] the b value is not included it will print from 'a' to 'b-1'

'Brijendr'

In [48]:
name[-1:]  # Brijendra

'a'

In [49]:
name[-1:-9] # Brijendra

''

In [50]:
name[-1:-8] # Brijendra

''

In [51]:
name[-2:] # Brijendra

'ra'

In [52]:
name.upper()  # Brijendra

'BRIJENDRA'

In [53]:
name.lower() # Brijendra

'brijendra'

# 3. List

In [54]:
fruits = ['apple','kiwi','banana']

In [55]:
fruits

['apple', 'kiwi', 'banana']

In [56]:
type(fruits)

list

In [57]:
fruits[3] = 'mango'

IndexError: list assignment index out of range

In [69]:
a = [1,2,3]

In [70]:
a

[1, 2, 3]

In [71]:
type(a)

list

In [10]:
len(a)

3

In [72]:
a[0]

1

In [73]:
a[1]

2

In [74]:
a[2]

3

In [75]:
a[3]

IndexError: list index out of range

In [76]:
a.append(5) # 'append' method add a the value to the end of the list

In [77]:
a

[1, 2, 3, 5]

In [78]:
a.insert(2,3) # here insert(a,b) insert the value b at index a

In [79]:
a

[1, 2, 3, 3, 5]

In [80]:
a.insert(10,9)

In [81]:
a

[1, 2, 3, 3, 5, 9]

In [84]:
print(a)

[1, 2, 3, 3, 5, 9]

In [85]:
type(a)

list

In [86]:
b = [3,4,5,4,5,4,"Brijendra"]

In [87]:
b

[3, 4, 5, 4, 5, 4, 'Brijendra']

In [89]:
type(b)

list

In [90]:
b[0] + b[2]

8

In [91]:
b[2]+b[6]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [93]:
b.reverse()

In [94]:
b

['Brijendra', 4, 5, 4, 5, 4, 3]

In [99]:
a = [3,4,5,43,3,3,4,5,6]
a.sort()

In [100]:
a

[3, 3, 3, 4, 4, 5, 5, 6, 43]

# 4. Dictionary

In [105]:
dict = {'Brijendra':1,
       'Amit':2,
       'Others':3} # here 'Brijendra' is key and 1 is value

In [109]:
dict = {'Brijendra':1,
       'Brijendra':2,
       'Others':3}

In [111]:
dict['Brijendra']

2

In [112]:
dict

{'Brijendra': 2, 'Others': 3}

In [114]:
dict['Harry'] = 5

In [115]:
dict

{'Brijendra': 2, 'Others': 3, 'Harry': 5}

# 5. Tuple

In [1]:
animals = ('Lion','Tiger','Monkey')

In [2]:
animals

('Lion', 'Tiger', 'Monkey')

In [3]:
type(animals)

tuple

In [21]:
a = (1,2,3,4,4,4,4)

In [23]:
a

(1, 2, 3, 4, 4, 4, 4)

In [24]:
len(a)

7

In [25]:
len(a)

7

In [27]:
a.count(4)

4

In [28]:
a.index(2) # first index of value

1

# 6. Sets

In [29]:
value = {1,2,3,4,5,5,6,6,7,7,7,7}

In [31]:
value # Only unique values stored

{1, 2, 3, 4, 5, 6, 7}

In [32]:
len(value)

7

In [34]:
value.pop()

1

In [35]:
value

{2, 3, 4, 5, 6, 7}

# 7. Range

In [36]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
list(range(5,5))

[]

In [39]:
list(range(5,6))

[5]

In [40]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [41]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [42]:
list(range(10,1))

[]

# These are the Variables and Data Types for Python.